<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"/>
  <title>P2P Chat App</title>
</head>
<body>
<p th:text="${error}"></p>
<h1 th:text="'Enter'"></h1>
<form class="form-inline" th:action="@{/enter/hit}" >
  <div class="form-group">
  Choose your name: <input class="form-control" type="text" name="username" th:value="${username}"/>
  <input type="submit" value="Enter" />
  </div>
</form>
</body>
</html>