<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>P2P Chat App</title>
</head>
<body>
<p th:text="${error}"></p>
<h1 th:text="'Peer to Peer Chat program'"></h1>
<form th:action="@{/update/hit}" >
  Your username: <input type="text" name="username" th:value="${username}"/>
  <input type="submit" value="Update" />
</form>
<ul th:each="message: ${messages}">
  <li>
    <p th:text="${message.username}"></p>
    <p th:text="${message.text}"></p>
  </li>
</ul>
<form th:action="@{/send/hit}">
  <textarea rows="3" cols="25" name="text" th:value="${text}"/>
  <input type="submit" value="Send" />
</form>
<a href="/" th:text="'Refresh'"></a>
</body>
</html>