<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"/>
  <link href="style.css" rel="stylesheet" />
  <title>P2P Chat App</title>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <form class="form-inline" th:action="@{/update/hit}" >
          <div class="form-group">
            <span th:text="'Your username:'" style="color: white" />
            <input class="form-control" type="text" name="username" th:value="${username}"/>
            <input  role="button" type="submit" value="Update" />
          </div>
        </form>
      </div>
    </div>
  </nav>
  <div class="container">
<p th:text="${error}"></p>
    <br />
<h1 th:text="'Peer to Peer Chat program'" align="center"></h1>
    <br />
    <div class="container">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading" th:text="'Messages'" >
          </div>
          <div class="panel-body">
            <div class="container">
              <div class="row message-bubble" th:each="message: ${messages}">
                <p class="text-muted" th:text="${message.username}"></p>
                <span th:text="${message.text}"></span>
              </div>
            </div>
            <div class="panel-footer">
              <form class="input-group" th:action="@{/send/hit}">
                <input type="text" class="form-control" name="text" th:value="${text}" />
                <span class="input-group-btn">
                  <button class="btn btn-default" th:text="'Send'"></button>
                </span>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<a class="glyphicon glyphicon-refresh" role="button" href="/" ></a>-->
  </div>
</body>
</html>